
<mtapp:setting
   id="directory"
   label="Polled Directory">
  <input type="text" name="directory" value="<mt:var name="directory" escape="html">" />
</mtapp:setting>

<mtapp:setting
   id="destination_path_template"
   label="Destination Path">
  <input type="text" name="destination_path_template" value="<mt:var name="destination_path_template" escape="html">" />
</mtapp:setting>

<mtapp:setting
   id="remove_files"
   label="Remove Imported Files">
  <input type="checkbox" class="cb" name="remove_files" value="1"<mt:if name="remove_files"> checked="checked"</mt:if>/>
</mtapp:setting>
